* {
    box-sizing: border-box;
}

body {
    margin: 0;

    .app {
        margin: 0;
    }
}

h2 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #bababa;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2e2e2e;
    text-decoration: none;
    margin: 25px;
    margin-left: 0;
}

h4 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #f62f5e;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:600,600i,700,700i,800,800i,900,900i');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');